extends layout 

block content
    table 
        tr 
            th Username 
            th WeeklyScore 
        each item in users
            tr
                th #{item.username} 
                th #{item.wscore} 