extends layout

block sidebar 
  div.sidebar
    ul 
      li 
        img(src= "#{searchIcon}")
      li 
        img(src= "#{settingsIcon}")
  
  div.body
    each item in songName
      div.song
        p #{item}
        audio(controls src="http://localhost/audio")
