extends layout

block sidebar 
  div.sidebar
    ul 
      li 
        img(src= "#{searchIcon}")
      li 
        img(src= "#{settingsIcon}")
  
  div.body
    each item in songName
      div.song
        img(src="#{playIcon}", onclick="changeIcon(event);")
        p #{item}
        progress(max=100, value=1)
        //- audio(controls src="http://localhost/audio")
