doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="public/images/favicon.ico")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../public/scripts/index.js")
  body

    div.topbar
      h1 #{title}

    block sidebar
     
    block content 
    //- content is a hook for other layouts defined by the block keyword