@font-face {
  font-family: 'air';
  src: url("../fonts/clubMusic.otf") 
       format('opentype');
}


:root {
  --background-color: #10091d;
  --on-background-color-darker: #28193d;
  --on-background-color-lighter: #46315C;
  --accent-color: #68507B;
}

.sidebar {
  float: left;
  height: 100%;
  opacity: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--on-background-color-darker);
  max-width: 100px;
}

.topbar {
  /* float: top; */
  width: 100%;
  opacity: 80%;
  font-size: 30px;
  padding: 10px;
  background-color: var(--on-background-color-lighter);
  position: sticky;
  top: 0;
}

.topbar h1 {
 margin: 0px;
 padding-left: 110px;
}


.song {
  background-color: var(--accent-color);
  border-radius: 50px;
  margin-left: 200px;
  margin-right: 5%;
  margin-top: 2%;
  padding: 5px;
  float: left;
  width: 60%;
  display: inline;
}

.song audio {
  width: 60%;
  background-color: var(--accent-color);
}

.song p {
  float: inherit;
    display: inherit;
    padding-left: 5%;
    width: 20%;
}

audio::-webkit-media-controls-panel {
  border-radius: 5px;
  background-color: var(--accent-color);
}

body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "air";
  background-color: var(--background-color);
  color: white;
}

html {
  background-color: var(--background-color);
  width: 100%;
}

.sidebar ul {
  list-style: none;
  margin-top: 120%;
  padding: 30px;
}

ul {
  list-style: none;
}

.sidebar ul img {
  position: relative;
  left: -10px;
  padding: 0px;
  padding-bottom: 50%;
  width: 150%;
  filter: invert(1);
}

.admin {
  background-color: var(--on-background-color-darker);
  float: left;
  display: inline;
  width: 40%;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 30px;
  height: 700px;
  overflow-x:auto;
}

.admin h3 {
  margin-left: 10%;
  padding-top: 3%;
}

#adminInput {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
 
#adminInput > ul > li > input{
  margin-top: 20px;
  margin-right: 10px;
}

#dataTable {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#adminInput > ul > li > label {
  margin-right: 5px;
}

a {
  all: unset;
}

button,  input, select {
  padding: 10px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 20px;
  border-style: none;

  transition: background-color 2s;
}

input[type=file]::file-selector-button {
  background-color: var(--on-background-color-lighter);
  padding: 10px;
  border-style: none;
  border-radius: 20px;
  transition: background-color 0.5s;
}

input[type=file]::file-selector-button:hover {
  background-color: var(--accent-color);
}

button:hover, input:hover{
  background-color: var(--on-background-color-lighter);
  transition: background-color 0.5s;
}

#backbutton {
  float: left; 
  margin: 30px; 
  height: 700px;
}