@font-face {
  font-family: 'air';
  src: url("../fonts/clubMusic.otf") 
       format('opentype');
}


:root {
  --background-color: #10091d;
  --on-background-color-darker: #28193d;
  --on-background-color-lighter: #46315C;
  --accent-color: #68507B;
}

.sidebar {
  float: left;
  height: 100%;
  opacity: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--on-background-color-darker);
}

.topbar {
  float: top;
  width: 100%;
  opacity: 80%;
  font-size: large;
  background-color: var(--on-background-color-lighter);
}

.topbar h1 {
 margin: 0px;
 padding: 2%;
 padding-left: 150px;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "air";
  background-color: var(--background-color);
  color: white;
}

ul {
  margin-top: 90%;
  padding: 30px;
}