@font-face {
  font-family: 'air';
  src: url("../fonts/clubMusic.otf") 
       format('opentype');
}


:root {
  --background-color: #10091d;
  --on-background-color-darker: #28193d;
  --on-background-color-lighter: #46315C;
  --accent-color: #68507B;
}

.sidebar {
  float: left;
  height: 100%;
  opacity: 50%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--on-background-color-darker);
  max-width: 100px;
}

.topbar {
  float: top;
  width: 100%;
  opacity: 80%;
  font-size: 30px;
  padding: 10px;
  background-color: var(--on-background-color-lighter);
}

.topbar h1 {
 margin: 0px;
 padding-left: 110px;
}


.song {
  background-color: var(--accent-color);
  border-radius: 50px;
  margin-left: 200px;
  margin-right: 5%;
  margin-top: 2%;
  padding: 5px;
  float: left;
  width: 60%;
  display: inline;
}

.song audio {
  width: 60%;
  background-color: var(--accent-color);
}

.song p {
  float: inherit;
    display: inherit;
    padding-left: 5%;
    width: 20%;
}

.song progress {
  width: 40%;
  height: 50px;
  margin-left: 50px;
}


html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: "air";
  background-color: var(--background-color);
  color: white;
}

.sidebar ul {
  list-style: none;
  margin-top: 120%;
  padding: 30px;
}

.sidebar ul img {
  position: relative;
  left: -10px;
  padding: 0px;
  padding-bottom: 50%;
  width: 150%;
  filter: invert(1);
}